Package: com.lakr233.Tweaker-Daemon
Name: Tweaker.Daemon
Version: 0.1-2
Description: Tweaker Privileged Operator
Section: System
Depends: firmware (>= 10.0)
Conflicts: com.lakr233.SailyTest, com.lakr233.Saily, com.lakr233.jw.SailyPackageManager, com.lakr233.jw.SailyStartupDaemon
Replaces: 
Priority: required
Architecture: iphoneos-arm
Author: Lakr Aream
dev: Lakr Aream
Homepage: https://github.com/LakrAream/Tweak-Store
ESSENTIAL: Yes
Depiction: https://github.com/LakrAream/Tweak-Store
SileoDepiction: https://raw.githubusercontent.com/LakrAream/Tweak-Store/master/IO/Tweaker-ND.json
Maintainer: Lakr Aream
Icon: https://github.com/LakrAream/Tweak-Store/raw/master/Tweaker/AssSets/AppIcons.xcassets/AppIcon.appiconset/icon-1024.png
