Package: com.lakr233.Saily
Name: Saily Store
Version: 0.6-b517
Description: Saily Package Manager
Section: System
Depends: firmware (>= 10.0)
Conflicts: com.lakr233.SailyTest, com.lakr233.Saily, com.lakr233.jw.SailyPackageManager, com.lakr233.jw.SailyStartupDaemon
Replaces: 
Priority: required
Architecture: iphoneos-arm
Author: Lakr Aream
dev: Lakr Aream
Homepage:
ESSENTIAL: Yes
Depiction:
SileoDepiction: https://raw.githubusercontent.com/LakrAream/Tweak-Store/master/IO/Saily-ND.json
Maintainer: Lakr Aream
Icon: https://raw.githubusercontent.com/LakrAream/Saily-Store/master/Saily/AssSets/AppIcons.xcassets/AppIcon.appiconset/icon-1024.png
